<div *ngFor="let todo of todoList">
  {{todo.name}}
  <div *ngIf="todo.completed === true">Задача завершена</div>
  <button *ngIf="todo.completed === false" (click)="complete(todo)">Завершить задачу</button>
  <button *ngIf="todo.completed === true" (click)="resume(todo)">Возобновить задачу</button>
  <button (click)="delete(todo)">Удалить</button>
</div>


<div class="flex gap" style="padding-top: 22px">
  <input type="text" [(ngModel)]="inputValue">
  <button type="submit" (click)="addTodo(inputValue)">Добавить ТОДО</button>
</div>
